* {
   padding: 0;
   margin: 0;
}
body {
   background: rgb(227, 223, 240);
   color: rgb(22, 22, 22);
   font-family:  Comic Sans MS;
}

/* ------ ENCABEZADO ------ */
#cabecera {
  background-color: rgb(200, 181, 243);
  box-shadow: 0px 2px 20px rgb(0, 0, 0, 0.5);
  padding-top: 25px;
  text-align: center;
  color: rgb(74, 50, 131);
  font-weight: bolder;
  font-size: 45px;
  border-radius: 5px;
  
}

#cabecera #tagline {
  font-weight: normal;
  padding: 0 0 0 5em;
  font-size: 25px;
  color: rgb(74, 50, 131);
}

#cabecera #tagline img {
  width: 48px;
  height: 48px;
  padding: 0 0 0 10em;
  background-color: rgb(200, 181, 243);
} 


/* ------ BARRA DE NAVEGACION ------ */
#header {
   margin:auto;
   font-family:Arial, Helvetica, sans-serif;
   padding: 15px;
   border-radius: 5px;
   float: right;
}

ul, ol {
   list-style:none;
}

.nav > li {
   float:left;
}

.nav li a {
   background-color:rgb(209, 199, 233);
   color: rgb(74, 50, 131);
   font-size: 14px;
   text-decoration:none;
   padding:10px 12px;
   display:block;
}

.nav li a:hover {
   background-color: rgb(200, 181, 243);
   border-color: rgb(74, 50, 131) 1px solid;
}

.clear {
   clear: both;
} 


/* ------ CONTENIDO PRINCIPAL ------ */
#container{
   padding-top: 10px;
   float: left;
   width: 90%;
   min-height: 500px;
}

#contenido {
   padding-top: 40px;
   margin: 5px 5px 5px 5px; 
   width: calc(80% - 80px);
   min-height: 500px;
   float: left;
}

.article  {
   padding-bottom: 25px;
   padding-top: 20px;
}

.article h2 {
   text-align: center;
   color: rgb(104, 77, 168);
}

.article a {
   text-decoration: none;
}

.article a:hover {
   background-color: rgb(200, 181, 243);
   border-color: rgb(74, 50, 131) 1px solid;
}


/* ------ ASIDE ------ */
#container aside {
   float: right;
} 


/* ------ FOOTER ------ */
#container  footer {
   background-color: rgb(200, 181, 243);
   color: rgb(74, 50, 131);
   font-size: 13px;
   text-align: center;
} 